<div class="formularioModal p-3"
     [class.ocultar]="!modal.isVisibleModal"
     [ngClass]="{'animate__animated animate__fadeIn':modal.isVisibleModal}"
     >
   <h2 class="text-center mb-3 mt-2"> {{contacto?.id  ? 'Editar contacto ' : 'Nuevo Contacto'}}</h2>
   <form novalidate [formGroup]="miFormulario" (ngSubmit)="guardar()">

    <div class="form-group mb-1">
      <div style="position: relative; margin-top: 30px;" *ngIf="!contacto?.imagen && !imageTemp">
        <label for="imagen">
          <input class="d-none" type="file"  id="imagen" (change)="seleccionarArchivo($event)">
        <img class="imgContactoEdit rounded float-left mb-2" src= "../../../assets/img/no_image_user.jpg" alt="foto-perfil" title="Click para cambiar imagen">
        <i class="fa fa-edit text-info icono"></i>
      </label>
      </div>
    </div>



    <div class="form-group mb-1">
      <div style="position: relative; margin-top: 30px;" *ngIf="contacto?.imagen && !imageTemp">
        <label for="imagen">
          <input class="d-none" type="file"  id="imagen" (change)="seleccionarArchivo($event)">
          <img class="imgContactoEdit rounded float-left mb-2" [src]= "contacto?.imagen! | domSeguro " alt="foto-perfil" >
          <i class="fa fa-edit text-info icono"></i>
        </label>
      </div>
    </div>

      <div class="form-group mb-1">
        <div style="position: relative; margin-top: 30px;" *ngIf="imageTemp">
          <label for="imagen">
            <input class="d-none" type="file"  id="imagen" (change)="seleccionarArchivo($event)">
          <img class="imgContactoEdit rounded float-left mb-2" [src]= "imageTempUrl! | domSeguroPrev" alt="foto-perfil" title="Click para cambiar imagen">
          <i class="fa fa-edit text-info icono"></i>
        </label>
        </div>
      </div>

      <div class="form-group mb-4">
      <input
            type="text"
            class="form-control"
            [class.is-invalid]="miFormulario.get('nombre')?.invalid && miFormulario.get('nombre')?.touched"
            placeholder="Nombre"
            formControlName="nombre"
            >

   <span class="text-danger errormsg" [class.invisible]="!miFormulario.get('nombre')?.invalid || !miFormulario.get('nombre')?.touched">* Mínimo 9 dígitos</span>

    </div>
    <div class="form-group mb-4">
      <input
            type="email"
            class="form-control"
            placeholder="Email"
            (change)="validarEmail()"
            [class.is-invalid]="miFormulario.get('email')?.invalid && miFormulario.get('email')?.touched"
            formControlName="email"
            >

            <span *ngIf="errorEmail" class="text-danger errormsg" [class.invisible]="!miFormulario.get('email')?.invalid || !miFormulario.get('email')?.touched ">* Email con formato no válido</span>
            <span *ngIf="!errorEmail" class="text-danger errormsg" [class.invisible]=" !miFormulario.get('email')?.touched || !miFormulario.get('email')?.invalid" >* Campo obligatorio</span>

    </div>
    <div class="form-group mb-4">
      <input
            type="text"
            class="form-control"
            placeholder="Teléfono"
            [class.is-invalid]="miFormulario.get('telefono')?.invalid && miFormulario.get('telefono')?.touched"
            formControlName="telefono"
            >
   <span class="text-danger errormsg" [class.invisible]="!miFormulario.get('telefono')?.invalid || !miFormulario.get('telefono')?.touched">* Mínimo 9 dígitos</span>

    </div>
    <!-- <div *ngIf="!isImgSelected && !contacto?.imagen">
    <label for="imagen" class="pointer">
            <i class="fa fa-user"></i> Agrega Foto de perfil.
            <input class="d-none" type="file"  id="imagen" (change)="seleccionarArchivo($event)">
    </label>
   </div> -->

    <div class="row">
      <button (click)="cancelar()"
              class="btn btn-sm btn-danger boton-cerrar">
              <i class="fas fa-close"></i>
              Cancelar
      </button>
      <button [class.invisible]="miFormulario.invalid && !contacto?.id"
              type="submit"
              class="btn btn-sm btn-info boton-cerrar"
              >
              <i class="fas fa-save"></i>
              {{contacto?.id  ? 'Guardar cambios' : 'Guardar'}}
      </button>
    </div>
   </form>


</div>
